<nz-layout>
  <nz-content class="outer-content">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-layout class="inner-layout">
      <!-- Sider Esquerdo (para projetar conteúdo) -->
      <nz-sider nzWidth="500px" nzTheme="light">
        <ng-content select="[left-content]"></ng-content>
      </nz-sider>

      <!-- Conteúdo Central -->
      <nz-content class="inner-content">
        <!-- Conteúdo projetado para o lado direito -->
        <ng-content select="[right-content]"></ng-content>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
