nz-card{;
  color: white;
  width: 20vh;
}
.titulo {
  font-size: 30px;
}
.option {
  font-size: 2vh;
}
.download {
  font-size: 2.5vh;
  color: #cbcbcb !important;
}

.button-visualizer{
  border-radius: 8px;
  width: 145px;
  height: 40px;
  justify-content: center;
}

.txt-button{
  ;
}
