<app-layout-formater>
  <div left-content>
    <app-dynamic-container [componentType]="'radioButton'"></app-dynamic-container>

    <app-collapse-cadastro-itens *ngFor="let item of items" [icon]="'double-right'" [title]="'teste'" [active]="true">

      <button nz-button class="mt-2" nzType="primary" (click)="deleteItem(item.id)">Deletar</button>
    </app-collapse-cadastro-itens>
    <!--  BTN do menu -->
    <div class="d-flex col-12 ml-5">
      <button nz-button nzType="primary" (click)="showModal()" nzShape="round" nzBlock>Adicionar item</button>
    </div>
    <!--  modal -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <app-dynamic-card [title]="'Teste'" [cardIcon]="'dot-chart'"></app-dynamic-card>
      </ng-container>
    </nz-modal>
  </div>
  <div right-content>
    <div class="preview-area">
      {{ previewContent }}
    </div>
    <button (click)="generatePDF()">Gerar PDF</button>
  </div>

</app-layout-formater>
