<nz-layout class="layout rg-default">
  <nz-sider class="rg-background-brown ">
    <div class="logo">
    <h3 class="rg-yellow fw-bold">REPORTGEN</h3>
    </div>

    <ul class="rg-background-brown content-left d-flex flex-column  align-items-center h-30 mt-lg-5" nz-menu  nzMode="inline">
      <span class="line"></span>
      <li class="content-icons" nz-menu-item>
          <span  class="rg-icons"  nz-icon nzType="home"></span>
          <span class="rg-yellow fw-semibold m-1">Inicio</span>
      </li>
      <li class="content-icons" nz-menu-item>
        <span  class="rg-icons" nz-icon nzType="user"></span>
        <span class="rg-yellow fw-semibold m-1">Usuário</span>
      </li>
      <li class="content-icons" nz-menu-item>
        <span class="rg-icons" nz-icon nzType="unordered-list"></span>
        <span class="rg-yellow fw-semibold m-1">Lista de relatóros</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout rg-default">
    <nz-header></nz-header>

    <div class="txt-title">
      <h1 class="rg-brown">Últimos relatórios</h1>
    </div>
    <nz-content class="rg-default">

      <div class="inner-content rg-default">
        <app-dashboard-card [title]="'teste'" ></app-dashboard-card>
      </div>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>
